[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = silent

# Turn off warnings for using 'var' in all cases
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
