<div class="container text-center">
    <h1>Not Found</h1>

    <!-- If user is authenticated -->
    <ng-container *ngIf="currentUser$ | async as user; else guest">
        <button class="btn btn-success btn-lg me-3" [routerLink]="['/members']">
            Go to Members
        </button>
        <button class="btn btn-info btn-lg " [routerLink]="['/']">
            Return to Home Page
        </button>
    </ng-container>

    <!-- If user is NOT authenticated -->
    <ng-template #guest>
        <button class="btn btn-info btn-lg" [routerLink]="['/']">
            Return to Home Page
        </button>
    </ng-template>
</div>