<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Dating App</a>
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountservice.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link " routerLink="/errors" routerLinkActive="active">Erros</a>
            </li>
        </ul>
        <div class="dropdown" *ngIf="(accountservice.currentUser$| async)as user" dropdown>
            <a href="#" dropdownToggle class="dropdown-toggle text-light" (click)="$event.preventDefault()">Welcome
                {{user.username |titlecase}}</a>
            <ul *dropdownMenu class="dropdown-menu" mt-3>
                <li><a href="#" (click)="$event.preventDefault()" class="dropdown-item">Edit Profile</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="#" (click)="logout(); $event.preventDefault()" class="dropdown-item">Logout</a></li>
            </ul>
        </div>


        <form *ngIf="(accountservice.currentUser$| async) === null" #modelform="ngForm" class="form-inline mt-2 mt-md-0"
            (ngSubmit)="login()" autocomplete="off">
            <input name="Username" [(ngModel)]="model.Username" class="form-control mr-sm-2" type="text"
                placeholder="Username">
            <input name="Password" [(ngModel)]="model.Password" class="form-control mr-sm-2" type="password"
                placeholder="Password">

            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>


</nav>